<table>
  <tr>
    <th>ID</th>
    <th>Status</th>
    <th>As a</th>
    <th>I want to</th>
    <th>So that</th>
    <th>Notes</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <% if (story.status == stat) %>
    <tr>
      <td><%= story.id %></td>
      <td><%= story.status %></td>
      <td><%= story.as_a %></td>
      <td><%= story.i_want_to %></td>
      <td><%= story.so_that %></td>
      <td><%= story.notes %><br/>
  <strong> 
      <%= raw story.tag_list { |t| t.inspect } %></strong></td>

  </td>
      <td><%= User.find(story.user_id).username %></td>
      <td><%= link_to 'Show', story %></td>
      <td><%= link_to 'Edit', edit_story_path(story) %></td>
      <td><%= link_to 'Destroy', story, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
<% end %>
</table>