// this is _list.html.haml
%form
  %ul
    - @stories.each do |story|
      - if (story.status == stat)
        - story_desc = "As a #{story.as_a}, I want to #{story.i_want_to} so that #{story.so_that}."
        - story_link = link_to story_desc, story
        %li
          = check_box_tag 'selected', story.id
          = story_link
        //= f.check_box_tag :selected
        //= f.label link_to story_desc, stry
  %input{:type => "submit", :value => "Edit Selected Stories", :class => "button", :method => :post, :action => :multiselect}

