%h1
  Selected User Stories

= form_tag update_multiple_stories_path, method: :put do
  - @stories.each do |story|
    = hidden_field_tag "story_ids[]", story.id
  = fields_for :story do |f|
    .field
      = f.label :status
      %br/
      = f.select :status_id, options_from_collection_for_select(Status.all, :id, :name), include_blank: true
    .field
      = f.label :priority
      %br/
      = f.select :priority_id, options_from_collection_for_select(Priority.all, :id, :name), include_blank: true  
    .field
      = f.label :tags_to_remove, "Tags to Remove (separated by commas)"
      %br/
      = f.text_field :tags_to_remove
    .field
      = f.label :tags_to_add, "Tags to Add (separated by commas)"
      %br/
      = f.text_field :tags_to_add      
    .field
      = f.label :user_id
      %br/
      = f.select :user_id, options_from_collection_for_select(@users, :id, :username), include_blank: true
    .actions
      = submit_tag "Update All These Stories", class: 'submit_button'

- @stati.each do |status|
  %h2 
    = status.name
  = render 'list', :stat => status.id, :checkbox => false  
%br/


.button
  = link_to 'Back to All Stories', stories_path
