<h1>In Progress</h1>

<%= render 'list', :stat => 'In Progress' %>

<h1>Not Started</h1>

<%= render 'list', :stat => 'Not Started' %>

<h1>Test</h1>

<%= render 'list', :stat => 'Test' %>

<h1>Backlog</h1>

<%= render 'list', :stat => 'Backlog' %>

<h1>Done</h1>

<%= render 'list', :stat => 'Done' %>

<br />

<%= link_to 'New Story', new_story_path %>
