
	
<h1> User Stories</h1>

<%= link_to 'New Story', new_story_path %>

<div id="tag_cloud">
   <% tag_cloud Story.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
  
</div>

<h2>In Progress</h2>

<%= render 'list', :stat => 'In Progress' %>

<h2>Not Started</h2>

<%= render 'list', :stat => 'Not Started' %>

<h2>Test</h2>

<%= render 'list', :stat => 'Test' %>

<h2>Backlog</h2>

<%= render 'list', :stat => 'Backlog' %>

<h2>Done</h2>

<%= render 'list', :stat => 'Done' %>

<br />

<%= link_to 'New Story', new_story_path %>
