<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @story.id %>
</p>

<p>
  <b>Status:</b>
  <%= @story.status %>
</p>

<p>
  <b>Tags:</b>
   <%= @story.tags.map(&:name).map { |t| t.inspect }.join(', ') %>
</p>

<p>
  <b>User:</b>
  <%= User.find(@story.user_id).username %>
</p>

<p>
  <b>As a:</b>
  <%= @story.as_a %>
</p>

<p>
  <b>I want to:</b>
  <%= @story.i_want_to %>
</p>

<p>
  <b>So that:</b>
  <%= @story.so_that %>
</p>

<p>
  <b>Notes:</b>
  <%= @story.notes %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
