= render 'single_story_nav'
%p#notice= notice
%p
  %b ID:
  = @story.id
%p
  %b Status:
  = @story.status
%p
  %b Priority:
  = @story.priority  
%p
  %b Tags:
  = raw tag_link_list @story
%p
  %b User:
  = User.find(@story.user_id).username
%p
  %b As a:
  = @story.as_a
%p
  %b I want to:
  = @story.i_want_to
%p
  %b So that:
  = @story.so_that
%p
  %b Notes:
  = @story.notes
= render 'single_story_nav'
